html{
    height: 100%;
}


body{
    margin: 0;
    background: rgba(22, 22, 22, 0.876);
    height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
    background: rgba(31, 30, 30, 0.876);
	flex-grow: 0;
}

.nav-container{
    padding: 0 0 0 50px;
	display: flex;
}


.logo{
    
	padding: 5px 0 0 10%;

	& img{
		height: 60px;
		
	}
		
}

.nav-links ul{
    margin: 0;
    padding: 0; 
    list-style: none;
    padding-left: 25px;
}

.nav-links li{
    display: inline-block;
    margin: 0 25px;
    padding-top: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.nav-links :hover{
    color: red;
}

.content-container{
	
    background-color: rgba(10, 10, 10, 0.767);
	flex-grow: 1;
}

// card design
.card-container{
    display: flex;
	gap: 30px;
    justify-content: center;
	flex-wrap: wrap;
	padding: 30px;
	
}

.card{
    display: grid;
	grid-template-columns: 220px;
	grid-template-rows: 300px  40px;
	grid-template-areas: "image" "title"; 
	text-align: center;
	border-radius: 18px;
	margin-top: 30px;
	transition: 0.5s ease;
	position: relative;
	opacity: 1;
}

.card-overlay {
	transition: .5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0;
	text-align: center;

	& .a{
		text-decoration: none;
		display:block;
	}
}

.card-overlay-text{
	
	color: white;
	font-size: 30px;
	padding: 16px 32px;
	opacity: 1;
	border: 5px solid rgb(134, 15, 11);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}



.card-image{
	grid-area: "image";
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
    background-color: tomato;
	background: url("pictures/the_room.png");
	background-size: cover;
}

.card-image.card2 {
	background: url("pictures/starwars.png");
	background-size: cover;
}

.card-image.card3 {
	background: url("pictures/two_brothers.png");
	background-size: cover;
}

.card-image.card4 {
	background: url("pictures/sharknado.png");
	background-size: cover;
}


.card-title {
	grid-area: "reservation";
	display: grid;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: #23262c;

	& h2{
		margin: auto 0;
		color: white;
		font-size: 1em;
	}
  }

.card:hover {
	transform: scale(1.15);
	/* transform: rotate3d(1, 1, 0.1, 45deg); */
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);

	& .card-image{
		filter: brightness(30%);
	}

	& .card-overlay{
		opacity: 1;
	}
}


.pagination{
	display: flex;
	justify-content: center;
}



.button{
  margin: 0px 5px;
  background: #dde1e7;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  font-size: 18px;
  height: 45px;
  width: 55px;
  display: block; 
}

.button.active{
	background-color: gray;
}

.button-forward{
	margin: 0px 5px;
	background: #dde1e7;
	border-radius: 3px;
	box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
	font-size: 18px;
	height: 45px;
	width: 100px;
	display: block; 
}

.button-back{
	margin: 0px 5px;
	background: #dde1e7;
	border-radius: 3px;
	box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
	font-size: 18px;
	height: 45px;
	width: 100px;
	display: block; 
}






@media screen and (max-width: 529px) {
	

}

// seat designs

#res-container{
	align-items: center;
	background-color: #242333;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', 'sans-serif';
	height: 200vh;
	justify-content: center;
}

.posterImage {
	height: 600px;
	width: 400px;
}

.movie-container {
	margin: 20px 0;
  }

  .movie-container {
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #ffffff;
		border-radius: 5px;
		border: 0;
		font-size: 14px;
		margin-left: 10px;
		padding: 5px 15px 5px 15px;
	}
}

.container {
	margin-bottom: 30px;
	perspective: 1000px;
}

.seat {
	background-color: #444451;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 12px;
	margin: 3px;
	width: 15px;
}

@color0: #6feaf6; // Appears 2 times
@color1: #ffffff; // Appears 2 times



.seat.selected {
	background-color: @color0;
}
.seat.occupied {
	background-color: @color1;
}
.seat {
	&:nth-of-type(2) {
		margin-right: 18px;
	}
	&:nth-last-of-type(2) {
		margin-left: 18px;
	}
	&:not(.occupied) {
		hover {
			cursor: pointer;
			transform: scale(1.2);
		}
	}
}
.showcase {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	color: #777777;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 5px 10px;
	.seat {
		&:not(.occupied) {
			hover {
				cursor: default;
				transform: scale(1);
			}
		}
	}
	li {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 10px;
		small {
			margin-left: 10px;
		}
	}
}
.row {
	display: flex;
}
.screen {
	background-color: @color1;
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
	height: 70px;
	margin: 15px 0;
	transform: rotateX(-45deg);
	width: 100%;
}
p.text {
	margin: 5px 0;
	span {
		color: @color0;
	}
}

//button
.text-box {
    margin-right: 0px;
    margin-top: 5px;
}

.btn {
	width: 180px;
	height: 60px;
	cursor: pointer;
	background: transparent;
	border: 1px solid #91C9FF;
	outline: none;
	transition: 1s ease-in-out;
	&:hover {
		transition: 1s ease-in-out;
		background: #4F95DA;
	}
	span {
		color: white;
		font-size: 18px;
		font-weight: 100;
	}
}

#fname{
	margin-bottom: 10px!important;
}
