<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema</title>
    <link rel="stylesheet" href="main.min.css">
</head>

<body>
    <div class="selection-container">
        <div class="selection-content">

            <h2> select a role: </h2>
            <br>
            <a href="/index_admin">
                <button class="button-admin"> I'm an Admin </button>
            </a>
            <a href="/index_user">
                <button class="button-user"> I'm a User </button>
            </a>
            <br>
        </div>
    </div>
</body>
</html>