<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema</title>
    <link rel="stylesheet" href="main.min.css">
</head>

<body class="selection_page">
    <div class="selection">
        <div class="selection_header">
            <h1>Bitte wähle eine der Optionen</h1>
        </div>
        <a href="index_admin">
            <div class="selection admin"> 
                <h1>
                    Ich bin ein Admin
                </h1>
            </div>
        </a>
        <a href="index_user">
            <div class="selection user"> 
                <h1>
                    Ich bin ein User
                </h1>
            </div>
        </a>
    </div>
</body>
</html>