<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema</title>
    <link rel="stylesheet" href="main.min.css">
</head>
<body>

    <h1> Create new Presentation </h1>

    <form>
        <label for="movies">choose a movie:</label>
        <select id="movie" name="movies">
            <option value="spooderman">Spooderman</option>
            <option value="specialman"> Specialman </option>
            <option value="dennis"> The Adventures of Dennis </option>
            <option value="solidersOfMars"> Soldier Of Mars</option>
          </select><br>

        <label for="rooms">choose a room:</label>

        <select id="movie" name="movies">
            <option value="room1">Room 1</option>
            <option value="room2"> Room 2 </option>
            <option value="room3"> Room 3 </option>  
        </select><br>
        

        <label for="appt">Choose a starting time:</label>

        <input type="time" id="appt" name="appt" required>

        <input type="submit">
      </form>

    <script type="text/javascript" src="main.min.js"></script>
</body>
</html>