<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema</title>
    <link rel="stylesheet" href="main.min.css">
</head>
<body>

    <h1> Create new Room </h1>

    <form>
        <label for="room_name"> room name: </label><br>
        <input type="text" id="room_name" name="room_name"><br>

        <label for="rows_of_seats"> rows of seats (between 5 - 15): </label><br>
        <input type="number" id="rows_of_seats" name="rows_of_seats" min="5" max="15"><br>

        <label for="seats_per_row"> seats per row (between 5 - 15): </label><br>
        <input type="number" id="rows_of_seats" name="rows_of_seats" min="5" max="15"><br>

        <input type="submit">
        
      </form>

    <script type="text/javascript" src="main.min.js"></script>
</body>
</html>