<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema</title>
    <link rel="stylesheet" href="main.min.css">
</head>
<body>

    <div class="selection-container">
        <div class="selection-content">

            <h2> Create new Room or Presentation: </h2>
            <br>
            <a href="/create_presentation">
                <button class="button-new-presentation"> Create Presentation </button>
            </a>
            <a href="/create_room">
                <button class="button-new-room"> Create Room </button>
            </a>
            <br>
        </div>
    </div>

    <script type="text/javascript" src="main.min.js"></script>
</body>
</html>