<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema V2</title>
    <link rel="stylesheet" href="main.min.css">
</head>
    <body>

      <header>
        <div class="nav-container">
          <div class="logo">
            <h2>LOGO</h2>
          </div>
          <div class="nav-links" >
            <ul>
              <li> <a href="#"> Home </a> </li>
              <li> <a href="reservation"> Reservierungen </a> </li>
            </ul>
          </div>
      </header>

      <div class="banner">
        <h1>text oder bild</h1>
      </div>

      <div class="content-container">
          <div class="card-container">
            <div class="card"> 
              <div class="card-image"> Movieposter </div>
              <h2>Title</h2>
              <p>Text</p>
            </div>
            <div class="card"> 
              <div class="card-image">Movieposter</div>
              <h2>Title</h2>
              <p>Text</p>
            </div>
            <div class="card"> 
              <div class="card-image"> Movieposter</div>
              <h2>Title</h2>
              <p>Text</p>
            </div>
            <div class="card"> 
              <div class="card-image"> Movieposter</div>
              <h2>Title</h2>
              <p>Text</p>
            </div>
            <div class="card"> 
              <div class="card-image">Movieposter </div>
              <h2>Title</h2>
              <p>Text</p>
            </div>
            <div class="card"> 
              <div class="card-image">Movieposter </div>
              <h2>Title</h2>
              <p>Text</p>
            </div>
          </div>

      </div>




    <script src="main.min.js"></script>
    </body>
</html>