<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema V2</title>
    <link rel="stylesheet" href="main.min.css">
</head>
    <body>

      <header>
        <div class="nav-container">
          <div class="logo">
            <a href="#home" > <img src="pictures/Kinox.png"/>  </a>
          </div>
          <div class="nav-links" >
            <ul>
              <li> <a href="#"> Home </a> </li>
              <li> <a href="reservation"> Reservierungen </a> </li>
            </ul>
          </div>
      </header>

      <div class="content-container">

          <div class="card-container" id="card-container">

            <div class="card"> 
              <div class="card-image"></div>
              <div class="card-title"> <h2> The Room </h2> </div>

              <a href="#reservation">
                <div class="card-overlay">
                
                  <div class="card-overlay-text"> 
                    Reservieren
                  </div>
                </div>
              </a>
            </div>

            <div class="card"> 
              <div class="card-image card2"></div>
              <div class="card-title"> <h2> Star Wars - Episode 3 </h2> </div>
              <a href="#reservation">
                <div class="card-overlay">
                
                  <div class="card-overlay-text"> 
                    Reservieren
                  </div>
                </div>
              </a>
            </div>

            <div class="card"> 
              <div class="card-image card3"></div>
              <div class="card-title"> <h2> Two Brothers </h2> </div>
              <a href="#reservation">
                <div class="card-overlay">
                
                  <div class="card-overlay-text"> 
                    Reservieren
                  </div>
                </div>
              </a>
            </div>

            <div class="card"> 
              <div class="card-image card4"></div>
              <div class="card-title"> <h2> Sharknado </h2> </div>
              <a href="#reservation">
                <div class="card-overlay">
                
                  <div class="card-overlay-text"> 
                    Reservieren
                  </div>
                </div>
              </a>
            </div>

            <div class="card"> 
              <div class="card-image card5"></div>
              <div class="card-title"> <h2> Harry Potter und der Stein der Weisen </h2> </div>
              <a href="#reservation">
                <div class="card-overlay">
                
                  <div class="card-overlay-text"> 
                    Reservieren
                  </div>
                </div>
              </a>
            </div>

            <div class="card"> 
              <div class="card-image card6"></div>
              <div class="card-title"> <h2> Placeholder </h2> </div>
              <a href="#reservation">
                <div class="card-overlay">
                
                  <div class="card-overlay-text"> 
                    Reservieren
                  </div>
                </div>
              </a>
            </div>

          </div>
      </div>

    <script src="main.min.js"></script>
    </body>
</html>