<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema V2</title>
    <link rel="stylesheet" href="main.min.css">
</head>
    <body>

      <header>
        <div class="nav-container">
          <div class="logo">
            <a href="#home" > <img src="pictures/Kinox.png"/>  </a>
          </div>
          <!--
          <div class="nav-links" >
            <ul>
              <li> <a href="#"> Home </a> </li>
              <li> <a href="reservation"> Reservierungen </a> </li>
            </ul>
          </div> -->
      </header>

      <div class="content-container">

          <div class="card-container" id="card-container">

          
          </div>
      </div>


    <div class="pagenumbers" id="pagenumbers"></div>
    <script src="main.min.js"></script>
    </body>
</html>