<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema - Reservation</title>
    <link rel="stylesheet" href="../main.min.css" />
  </head>
  <body id="reservation">
    <header>
      <div class="nav-container">
        <div class="logo">
          <a href="../index_user" > <img id="" src="../pictures/Kinox.png"/>  </a>
        </div>
    </header>
    <div id="res-container">
    <div id="poster-img"></div>
    <div id="title"></div>
    <div class="movie-container">
      <label>Pick a Showtime:</label>
      <select id="time">
        <option value="0" selected></option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>

      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>

      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>
      
    </div>

    <p class="text">
      You have selected <span id="count">0</span> seats for a price of $<span id="total">0</span>
    </p>
    <form class="text-box" id="purchaseForm">
      <input type="text" id="fname" name="name" placeholder="Enter your full name"><br>
      <input class="btn" id="kaufen" type="submit" value="Bestätigen"/>
    </form>
  </div>
    <script type="text/javascript" src="../main.min.js"></script>
  </body>
</html>