<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCinema - Reservation</title>
    <link rel="stylesheet" href="../main.min.css" />
  </head>
  <body id="reservation">
    <header>
      <div class="nav-container">
        <div class="logo">
          <a href="../index_user" > <img src="../pictures/Kinox.png"/>  </a>
        </div>
    </header>
    <div id="res-container">
    <div id="poster-img"></div>
    <div id="title"></div>
    <div class="movie-container">
      <label>Pick a Showtime:</label>
      <select id="time"></select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>

      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>

      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>
      <div class="row" id="A">
        <div class="seat A" id="1"></div>
        <div class="seat A" id="2"></div>
        <div class="seat A" id="3"></div>
        <div class="seat A" id="4"></div>
        <div class="seat A" id="5"></div>
        <div class="seat A" id="6"></div>
        <div class="seat A" id="7"></div>
        <div class="seat A" id="8"></div>
      </div>
      <div class="row" id="B">
        <div class="seat B" id="1"></div>
        <div class="seat B" id="2"></div>
        <div class="seat B" id="3"></div>
        <div class="seat B" id="4"></div>
        <div class="seat B" id="5"></div>
        <div class="seat B" id="6"></div>
        <div class="seat B" id="7"></div>
        <div class="seat B" id="8"></div>
      </div>

      <div class="row" id="C">
        <div class="seat C" id="1"></div>
        <div class="seat C" id="2"></div>
        <div class="seat C" id="3"></div>
        <div class="seat C" id="4"></div>
        <div class="seat C" id="5"></div>
        <div class="seat C" id="6"></div>
        <div class="seat C" id="7"></div>
        <div class="seat C" id="8"></div>
      </div>

      <div class="row" id="E">
        <div class="seat E" id="1"></div>
        <div class="seat E" id="2"></div>
        <div class="seat E" id="3"></div>
        <div class="seat E" id="4"></div>
        <div class="seat E" id="5"></div>
        <div class="seat E" id="6"></div>
        <div class="seat E" id="7"></div>
        <div class="seat E" id="8"></div>
      </div>

      <div class="row" id="F">
        <div class="seat F" id="1"></div>
        <div class="seat F" id="2"></div>
        <div class="seat F" id="3"></div>
        <div class="seat F" id="4"></div>
        <div class="seat F" id="5"></div>
        <div class="seat F" id="6"></div>
        <div class="seat F" id="7"></div>
        <div class="seat F" id="8"></div>
      </div>

      <div class="row" id="G">
        <div class="seat G" id="1"></div>
        <div class="seat G" id="2"></div>
        <div class="seat G" id="3"></div>
        <div class="seat G" id="4"></div>
        <div class="seat G" id="5"></div>
        <div class="seat G" id="6"></div>
        <div class="seat G" id="7"></div>
        <div class="seat G" id="8"></div>
      </div>
    </div>

    <p class="text">
      You have selected <span id="count">0</span> seats for a price of $<span id="total">0</span>
    </p>
    <div class="text-box">
      <a id="kaufen" href="#" class="btn btn-white btn-animate">Bestätigen</a>
  </div>
  </div>
    <script type="text/javascript" src="../main.min.js"></script>
  </body>
</html>